* {
    padding: 0;
    margin: 0;
}

.hide {
    display: none;
}

.text-black {
    color: black !important;
}

#navbar {
    min-width: 320px;
    height: 100vh;
    overflow: auto;
}

#navbar::-webkit-scrollbar {
    display: none;
}

.nav-menu {
    border-bottom: 1px solid rgba(255, 255, 255, 0.19);
}

.nav-item {
    border-radius: 10px;
}

.nav-item:hover {
    background-color: rgb(124, 124, 124);
    color: white;
}

.nav-item-dropdown {
    border-radius: 10px;
}


.dropdown-menu {
    text-decoration: none;
    min-width: none !important;
    width: fit-content !important;
}

#content {
    background-color: #edf1f5;
    width: 1500px;
    height: 100vh;
    overflow: auto;
}

#content::-webkit-scrollbar {
    display: none;
}

.menu-content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    /* width : 1000px; */
}

.card {
    width: 300px;
    height: 100px;
    background-color: white;
    transition-duration: 0.5s;
}

.item-content:hover {
    background-color: rgb(208, 208, 208) !important;
}

.logo-content {
    right: 5%;
    font-size: 60px;
}

.page-item {
    width: 30px !important;
    height: 30px !important;
    border: 1px solid black;
}